In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
response = requests.get("https://apiv3.iucnredlist.org/api/v3/species/narrative/loxodonta%20africana?token=9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee")
results = response.json()
flattened_data = json_normalize(results)
flattened_data.head()

<ipython-input-2-39b50fd1ea0f>:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)

                 name                                             result
0  loxodonta africana  [{'species_id': 181008073, 'taxonomicnotes': '...

In [6]:
flattened_data1 = json_normalize(flattened_data.result[0])
flattened_data1

<ipython-input-6-a8d8bc047742>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.result[0])

,species_id,taxonomicnotes,rationale,geographicrange,population,populationtrend,habitat,threats,conservationmeasures,usetrade
0,181008073,Three elephant taxa remain from the sixteen el...,<p>The African Savanna Elephant (<em>Loxodonta...,<p>African Savanna Elephants once occurred acr...,"<p>Over the past century, African Savanna Elep...",decreasing,<p>African Savanna Elephants are found over a ...,Poaching of African Savanna Elephants for ivor...,<p>The African Savanna Elephant was listed in ...,<strong>Ivory:</strong> Use of African Savanna...

In [8]:
# Get the total number of pages
total_pages=results[""]["]

KeyError: 'index'

In [ ]:
# Your code
df=pd.DataFrame()
for i in range(total_pages):
    k=84*i
    url="https://apiv3.iucnredlist.org/api/v3/species/narrative/loxodonta%20africana?token=9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee"
    response = requests.get(url)
    results = response.json()
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

df

In [ ]:
df.brand_name.value_counts().index[0]

In [ ]:
#Our data is still text. Convert prices into numbers:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

In [ ]:
df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)
df1=df.copy()