# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [2]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [5]:
url='https://datausa.io/api/data?drilldowns=Nation&measures=Population'

In [15]:
response = requests.get(url)
results = response.json()

In [18]:
flattened_data = json_normalize(results)
flattened_data1 = json_normalize(flattened_data.data[0])
flattened_data1

<ipython-input-18-52e4237381e8>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-18-52e4237381e8>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.data[0])

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2018  2018   327167439  united-states
1   01000US  United States     2017  2017   325719178  united-states
2   01000US  United States     2016  2016   323127515  united-states
3   01000US  United States     2015  2015   321418821  united-states
4   01000US  United States     2014  2014   318857056  united-states
5   01000US  United States     2013  2013   316128839  united-states

In [30]:
total_data=results['source']
print (total_data)

[{'measures': ['Population'], 'annotations': {'source_name': 'Census Bureau', 'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.', 'dataset_name': 'ACS 1-year Estimate', 'dataset_link': 'http://www.census.gov/programs-surveys/acs/', 'table_id': 'B01003', 'topic': 'Diversity', 'subtopic': 'Demographics'}, 'name': 'acs_yg_total_population_1', 'substitutions': []}]

In [48]:
flattened_data.head()

,data,source
0,"[{'ID Nation': '01000US', 'Nation': 'United St...","[{'measures': ['Population'], 'annotations': {..."

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [ ]:
# your code here