# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [13]:
import json
import requests
import pandas as pd

In [79]:
url = 'https://api.coinbase.com/v2/prices/USD/spot?'

In [107]:
response = requests.get(url)
results = response.json()
results

{'data': [{'base': 'BTC', 'currency': 'USD', 'amount': '57386.96'},
  {'base': 'BCH', 'currency': 'USD', 'amount': '1420.0'},
  {'base': 'BSV', 'currency': 'USD', 'amount': '348.7413159577414'},
  {'base': 'ETH', 'currency': 'USD', 'amount': '4104.01'},
  {'base': 'ETH2', 'currency': 'USD', 'amount': '4104.01'},
  {'base': 'ETC', 'currency': 'USD', 'amount': '119.128'},
  {'base': 'LTC', 'currency': 'USD', 'amount': '380.7'},
  {'base': 'ZRX', 'currency': 'USD', 'amount': '1.905'},
  {'base': 'USDC', 'currency': 'USD', 'amount': '1.0'},
  {'base': 'BAT', 'currency': 'USD', 'amount': '1.40204006408521'},
  {'base': 'MANA', 'currency': 'USD', 'amount': '1.42406718486228'},
  {'base': 'KNC', 'currency': 'USD', 'amount': '3.4458'},
  {'base': 'LINK', 'currency': 'USD', 'amount': '49.44556'},
  {'base': 'DNT', 'currency': 'USD', 'amount': '0.30285307333107'},
  {'base': 'MKR', 'currency': 'USD', 'amount': '5273.862'},
  {'base': 'CVC', 'currency': 'USD', 'amount': '0.55271443031337'},
  {'base': 'OMG', 'currency': 'USD', 'amount': '11.0933'},
  {'base': 'DAI', 'currency': 'USD', 'amount': '1.001075'},
  {'base': 'ZEC', 'currency': 'USD', 'amount': '309.42'},
  {'base': 'REP', 'currency': 'USD', 'amount': '44.68'},
  {'base': 'XLM', 'currency': 'USD', 'amount': '0.704845'},
  {'base': 'EOS', 'currency': 'USD', 'amount': '9.953'},
  {'base': 'XTZ', 'currency': 'USD', 'amount': '6.671'},
  {'base': 'ALGO', 'currency': 'USD', 'amount': '1.4519'},
  {'base': 'DASH', 'currency': 'USD', 'amount': '399.677'},
  {'base': 'ATOM', 'currency': 'USD', 'amount': '27.295'},
  {'base': 'OXT', 'currency': 'USD', 'amount': '0.6424'},
  {'base': 'COMP', 'currency': 'USD', 'amount': '770.78'},
  {'base': 'ENJ', 'currency': 'USD', 'amount': '2.37'},
  {'base': 'BAND', 'currency': 'USD', 'amount': '17.27'},
  {'base': 'NMR', 'currency': 'USD', 'amount': '65.0443'},
  {'base': 'CGLD', 'currency': 'USD', 'amount': '5.1161'},
  {'base': 'UMA', 'currency': 'USD', 'amount': '24.881'},
  {'base': 'LRC', 'currency': 'USD', 'amount': '0.5511'},
  {'base': 'YFI', 'currency': 'USD', 'amount': '54594.74'},
  {'base': 'UNI', 'currency': 'USD', 'amount': '38.8655'},
  {'base': 'BAL', 'currency': 'USD', 'amount': '67.28045'},
  {'base': 'REN', 'currency': 'USD', 'amount': '0.9426'},
  {'base': 'WBTC', 'currency': 'USD', 'amount': '57541.84'},
  {'base': 'NU', 'currency': 'USD', 'amount': '0.4561'},
  {'base': 'FIL', 'currency': 'USD', 'amount': '142.6117'},
  {'base': 'AAVE', 'currency': 'USD', 'amount': '462.9'},
  {'base': 'BNT', 'currency': 'USD', 'amount': '7.9984'},
  {'base': 'GRT', 'currency': 'USD', 'amount': '1.483'},
  {'base': 'SNX', 'currency': 'USD', 'amount': '17.3'},
  {'base': 'STORJ', 'currency': 'USD', 'amount': '2.0248'},
  {'base': 'SUSHI', 'currency': 'USD', 'amount': '15.189'},
  {'base': 'MATIC', 'currency': 'USD', 'amount': '0.9059'},
  {'base': 'SKL', 'currency': 'USD', 'amount': '0.588'},
  {'base': 'ADA', 'currency': 'USD', 'amount': '1.7107'},
  {'base': 'ANKR', 'currency': 'USD', 'amount': '0.15357'},
  {'base': 'CRV', 'currency': 'USD', 'amount': '3.327'},
  {'base': 'NKN', 'currency': 'USD', 'amount': '0.662'},
  {'base': 'OGN', 'currency': 'USD', 'amount': '1.505'},
  {'base': '1INCH', 'currency': 'USD', 'amount': '6.593'},
  {'base': 'USDT', 'currency': 'USD', 'amount': '1.0016'},
  {'base': 'FORTH', 'currency': 'USD', 'amount': '34.568'},
  {'base': 'CTSI', 'currency': 'USD', 'amount': '1.2426'},
  {'base': 'TRB', 'currency': 'USD', 'amount': '136.1'},
  {'base': 'MIR', 'currency': 'USD', 'amount': '9.879'},
  {'base': 'RLC', 'currency': 'USD', 'amount': '11.698'},
  {'base': 'EUR', 'currency': 'USD', 'amount': '1.22'},
  {'base': 'GBP', 'currency': 'USD', 'amount': '1.41'},
  {'base': 'CAD', 'currency': 'USD', 'amount': '0.83'},
  {'base': 'JPY', 'currency': 'USD', 'amount': '0.01'}]}

In [109]:
df_coinbase = pd.DataFrame(results['data'])

In [110]:
df_coinbase

    base currency             amount
0    BTC      USD           57386.96
1    BCH      USD             1420.0
2    BSV      USD  348.7413159577414
3    ETH      USD            4104.01
4   ETH2      USD            4104.01
..   ...      ...                ...
60   RLC      USD             11.698
61   EUR      USD               1.22
62   GBP      USD               1.41
63   CAD      USD               0.83
64   JPY      USD               0.01

[65 rows x 3 columns]

In [113]:
#Primera página
df_coinbase.head(48)

     base currency             amount
0     BTC      USD           57386.96
1     BCH      USD             1420.0
2     BSV      USD  348.7413159577414
3     ETH      USD            4104.01
4    ETH2      USD            4104.01
5     ETC      USD            119.128
6     LTC      USD              380.7
7     ZRX      USD              1.905
8    USDC      USD                1.0
9     BAT      USD   1.40204006408521
10   MANA      USD   1.42406718486228
11    KNC      USD             3.4458
12   LINK      USD           49.44556
13    DNT      USD   0.30285307333107
14    MKR      USD           5273.862
15    CVC      USD   0.55271443031337
16    OMG      USD            11.0933
17    DAI      USD           1.001075
18    ZEC      USD             309.42
19    REP      USD              44.68
20    XLM      USD           0.704845
21    EOS      USD              9.953
22    XTZ      USD              6.671
23   ALGO      USD             1.4519
24   DASH      USD            399.677
25   ATOM      USD             27.295
26    OXT      USD             0.6424
27   COMP      USD             770.78
28    ENJ      USD               2.37
29   BAND      USD              17.27
30    NMR      USD            65.0443
31   CGLD      USD             5.1161
32    UMA      USD             24.881
33    LRC      USD             0.5511
34    YFI      USD           54594.74
35    UNI      USD            38.8655
36    BAL      USD           67.28045
37    REN      USD             0.9426
38   WBTC      USD           57541.84
39     NU      USD             0.4561
40    FIL      USD           142.6117
41   AAVE      USD              462.9
42    BNT      USD             7.9984
43    GRT      USD              1.483
44    SNX      USD               17.3
45  STORJ      USD             2.0248
46  SUSHI      USD             15.189
47  MATIC      USD             0.9059

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [ ]:
# No tengo mucho que sacar del dataframe realmente, pero he pasado demasiado tiempo intentando abrirlo 
# En vez de empezar con otro, te saco ordeno de varias formas los results

In [ ]:
#Media de precios
df_coinbase.amount.mean()

In [125]:
#Las mas caras
df_coinbase.sort_values('amount', ascending = False)

    base currency            amount
21   EOS      USD             9.953
59   MIR      USD             9.879
27  COMP      USD            770.78
42   BNT      USD            7.9984
36   BAL      USD          67.28045
..   ...      ...               ...
33   LRC      USD            0.5511
39    NU      USD            0.4561
13   DNT      USD  0.30285307333107
50  ANKR      USD           0.15357
64   JPY      USD              0.01

[65 rows x 3 columns]

In [126]:
#Las mas baratas
df_coinbase.sort_values('amount', ascending = True)

    base currency            amount
64   JPY      USD              0.01
50  ANKR      USD           0.15357
13   DNT      USD  0.30285307333107
39    NU      USD            0.4561
33   LRC      USD            0.5511
..   ...      ...               ...
36   BAL      USD          67.28045
42   BNT      USD            7.9984
27  COMP      USD            770.78
59   MIR      USD             9.879
21   EOS      USD             9.953

[65 rows x 3 columns]